-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: medikindo_po
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `approvals`
--

DROP TABLE IF EXISTS `approvals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `approvals` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `purchase_order_id` bigint unsigned NOT NULL,
  `approver_id` bigint unsigned DEFAULT NULL,
  `level` tinyint unsigned NOT NULL COMMENT 'Approval level: 1=standard, 2=narcotics',
  `status` enum('pending','approved','rejected') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `actioned_at` timestamp NULL DEFAULT NULL COMMENT 'When the decision was made',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `approvals_purchase_order_id_level_unique` (`purchase_order_id`,`level`),
  KEY `approvals_purchase_order_id_index` (`purchase_order_id`),
  KEY `approvals_approver_id_index` (`approver_id`),
  KEY `approvals_status_index` (`status`),
  CONSTRAINT `approvals_approver_id_foreign` FOREIGN KEY (`approver_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `approvals_purchase_order_id_foreign` FOREIGN KEY (`purchase_order_id`) REFERENCES `purchase_orders` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approvals`
--

LOCK TABLES `approvals` WRITE;
/*!40000 ALTER TABLE `approvals` DISABLE KEYS */;
INSERT INTO `approvals` VALUES (1,1,2,1,'approved',NULL,'2026-04-22 21:34:17','2026-04-22 21:33:37','2026-04-22 21:34:17'),(2,2,2,1,'approved',NULL,'2026-04-22 22:19:50','2026-04-22 22:19:17','2026-04-22 22:19:50'),(3,3,2,1,'approved',NULL,'2026-04-23 10:55:34','2026-04-23 10:55:23','2026-04-23 10:55:34');
/*!40000 ALTER TABLE `approvals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned DEFAULT NULL,
  `organization_id` bigint unsigned DEFAULT NULL,
  `action` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'e.g. po.created, po.approved, po.sent_to_supplier',
  `module` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'System module: PO, GR, INVOICE, PAYMENT, MASTER_DATA, AUTH',
  `entity_type` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'e.g. PurchaseOrder, Approval',
  `entity_id` bigint unsigned DEFAULT NULL,
  `metadata` json DEFAULT NULL COMMENT 'Snapshot of relevant data at the time of action',
  `before_value` json DEFAULT NULL COMMENT 'State of the entity before the action',
  `after_value` json DEFAULT NULL COMMENT 'State of the entity after the action',
  `correlation_id` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'UUID to correlate related audit events in a single flow',
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `occurred_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `audit_logs_user_id_index` (`user_id`),
  KEY `audit_logs_action_index` (`action`),
  KEY `audit_logs_entity_type_entity_id_index` (`entity_type`,`entity_id`),
  KEY `audit_logs_occurred_at_index` (`occurred_at`),
  KEY `audit_logs_organization_id_index` (`organization_id`),
  KEY `audit_logs_module_index` (`module`),
  KEY `audit_logs_correlation_id_index` (`correlation_id`),
  CONSTRAINT `audit_logs_organization_id_foreign` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`) ON DELETE SET NULL,
  CONSTRAINT `audit_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bank_accounts`
--

DROP TABLE IF EXISTS `bank_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bank_accounts` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `bank_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `bank_code` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Kode bank 3 digit (ATM Bersama / Prima)',
  `account_number` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `account_holder_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `is_default` tinyint(1) NOT NULL DEFAULT '0',
  `account_type` enum('receive','send','both') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'both',
  `default_for_receive` tinyint(1) NOT NULL DEFAULT '0',
  `default_for_send` tinyint(1) NOT NULL DEFAULT '0',
  `default_priority` tinyint unsigned NOT NULL DEFAULT '0',
  `current_balance` decimal(15,2) DEFAULT NULL,
  `balance_updated_at` timestamp NULL DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bank_accounts_account_number_unique` (`account_number`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bank_accounts`
--

LOCK TABLES `bank_accounts` WRITE;
/*!40000 ALTER TABLE `bank_accounts` DISABLE KEYS */;
INSERT INTO `bank_accounts` VALUES (1,'Bank Mayapada','097','4534534534534','PT Medikindo Farma',1,0,'both',0,0,0,NULL,NULL,NULL,'2026-04-21 01:26:43','2026-04-21 01:26:43'),(2,'Bank BCA (Bank Central Asia)','014','231232131231232','PT. Mentari Medika Indonesia',1,1,'both',1,1,1,NULL,'2026-04-23 10:59:04',NULL,'2026-04-21 01:27:00','2026-04-23 10:59:04'),(3,'Bank BNI (Bank Negara Indonesia)','009','679769679','PT Medikindo Farma',1,0,'both',0,0,0,NULL,NULL,NULL,'2026-04-21 03:49:14','2026-04-21 03:49:57');
/*!40000 ALTER TABLE `bank_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `credit_limits`
--

DROP TABLE IF EXISTS `credit_limits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `credit_limits` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint unsigned NOT NULL,
  `max_limit` decimal(15,2) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `credit_limits_organization_id_unique` (`organization_id`),
  KEY `credit_limits_created_by_foreign` (`created_by`),
  CONSTRAINT `credit_limits_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `credit_limits_organization_id_foreign` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `credit_limits`
--

LOCK TABLES `credit_limits` WRITE;
/*!40000 ALTER TABLE `credit_limits` DISABLE KEYS */;
/*!40000 ALTER TABLE `credit_limits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `credit_note_line_items`
--

DROP TABLE IF EXISTS `credit_note_line_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `credit_note_line_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `credit_note_id` bigint unsigned NOT NULL,
  `product_id` bigint unsigned DEFAULT NULL,
  `customer_invoice_line_item_id` bigint unsigned DEFAULT NULL,
  `supplier_invoice_line_item_id` bigint unsigned DEFAULT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantity` decimal(10,2) NOT NULL,
  `unit_price` decimal(15,2) NOT NULL,
  `subtotal` decimal(15,2) NOT NULL,
  `tax_rate` decimal(5,2) NOT NULL DEFAULT '0.00',
  `tax_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `reason` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `credit_note_line_items_customer_invoice_line_item_id_foreign` (`customer_invoice_line_item_id`),
  KEY `credit_note_line_items_supplier_invoice_line_item_id_foreign` (`supplier_invoice_line_item_id`),
  KEY `credit_note_line_items_credit_note_id_index` (`credit_note_id`),
  KEY `credit_note_line_items_product_id_index` (`product_id`),
  CONSTRAINT `credit_note_line_items_credit_note_id_foreign` FOREIGN KEY (`credit_note_id`) REFERENCES `credit_notes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `credit_note_line_items_customer_invoice_line_item_id_foreign` FOREIGN KEY (`customer_invoice_line_item_id`) REFERENCES `customer_invoice_line_items` (`id`) ON DELETE CASCADE,
  CONSTRAINT `credit_note_line_items_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`),
  CONSTRAINT `credit_note_line_items_supplier_invoice_line_item_id_foreign` FOREIGN KEY (`supplier_invoice_line_item_id`) REFERENCES `supplier_invoice_line_items` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `credit_note_line_items`
--

LOCK TABLES `credit_note_line_items` WRITE;
/*!40000 ALTER TABLE `credit_note_line_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `credit_note_line_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `credit_notes`
--

DROP TABLE IF EXISTS `credit_notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `credit_notes` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `cn_number` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `organization_id` bigint unsigned NOT NULL,
  `customer_invoice_id` bigint unsigned DEFAULT NULL,
  `supplier_invoice_id` bigint unsigned DEFAULT NULL,
  `type` enum('return','discount','correction','cancellation') COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('draft','issued','applied','cancelled') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft',
  `reason` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `tax_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `total_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `issued_by` bigint unsigned DEFAULT NULL,
  `issued_at` timestamp NULL DEFAULT NULL,
  `applied_at` timestamp NULL DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `credit_notes_cn_number_unique` (`cn_number`),
  KEY `credit_notes_issued_by_foreign` (`issued_by`),
  KEY `credit_notes_organization_id_status_index` (`organization_id`,`status`),
  KEY `credit_notes_customer_invoice_id_index` (`customer_invoice_id`),
  KEY `credit_notes_supplier_invoice_id_index` (`supplier_invoice_id`),
  KEY `credit_notes_cn_number_index` (`cn_number`),
  CONSTRAINT `credit_notes_customer_invoice_id_foreign` FOREIGN KEY (`customer_invoice_id`) REFERENCES `customer_invoices` (`id`) ON DELETE CASCADE,
  CONSTRAINT `credit_notes_issued_by_foreign` FOREIGN KEY (`issued_by`) REFERENCES `users` (`id`),
  CONSTRAINT `credit_notes_organization_id_foreign` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `credit_notes_supplier_invoice_id_foreign` FOREIGN KEY (`supplier_invoice_id`) REFERENCES `supplier_invoices` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `credit_notes`
--

LOCK TABLES `credit_notes` WRITE;
/*!40000 ALTER TABLE `credit_notes` DISABLE KEYS */;
/*!40000 ALTER TABLE `credit_notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `credit_usages`
--

DROP TABLE IF EXISTS `credit_usages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `credit_usages` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint unsigned NOT NULL,
  `purchase_order_id` bigint unsigned NOT NULL,
  `amount_used` decimal(15,2) NOT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'reserved',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `credit_usages_organization_id_foreign` (`organization_id`),
  KEY `credit_usages_purchase_order_id_foreign` (`purchase_order_id`),
  CONSTRAINT `credit_usages_organization_id_foreign` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `credit_usages_purchase_order_id_foreign` FOREIGN KEY (`purchase_order_id`) REFERENCES `purchase_orders` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `credit_usages`
--

LOCK TABLES `credit_usages` WRITE;
/*!40000 ALTER TABLE `credit_usages` DISABLE KEYS */;
INSERT INTO `credit_usages` VALUES (1,7,3,67900.00,'released','2026-04-20 11:07:08','2026-04-23 10:59:04'),(2,9,4,0.00,'released','2026-04-20 11:13:29','2026-04-20 12:35:14'),(3,9,5,0.00,'released','2026-04-20 11:55:39','2026-04-20 12:30:05'),(4,9,6,2100000.00,'billed','2026-04-20 12:27:36','2026-04-20 12:27:58'),(5,9,7,6289500.00,'billed','2026-04-20 12:58:28','2026-04-20 12:58:43'),(6,9,8,2107000.00,'billed','2026-04-20 13:02:00','2026-04-20 13:02:10'),(7,9,3,10500.00,'released','2026-04-23 10:55:23','2026-04-23 10:59:04');
/*!40000 ALTER TABLE `credit_usages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_invoice_line_items`
--

DROP TABLE IF EXISTS `customer_invoice_line_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer_invoice_line_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `customer_invoice_id` bigint unsigned NOT NULL,
  `supplier_invoice_item_id` bigint unsigned DEFAULT NULL,
  `goods_receipt_item_id` bigint unsigned DEFAULT NULL,
  `product_id` bigint unsigned DEFAULT NULL,
  `product_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_sku` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `batch_no` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `quantity` decimal(10,3) NOT NULL,
  `unit_price` decimal(18,2) NOT NULL,
  `cost_price` decimal(15,2) DEFAULT NULL,
  `batch_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `uom` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `discount_percentage` decimal(5,2) DEFAULT NULL,
  `discount_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `tax_rate` decimal(5,2) NOT NULL DEFAULT '0.00',
  `tax_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `line_total` decimal(18,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `customer_invoice_line_items_customer_invoice_id_index` (`customer_invoice_id`),
  KEY `customer_invoice_line_items_product_id_index` (`product_id`),
  KEY `customer_invoice_line_items_goods_receipt_item_id_index` (`goods_receipt_item_id`),
  KEY `customer_invoice_line_items_supplier_invoice_item_id_index` (`supplier_invoice_item_id`),
  CONSTRAINT `customer_invoice_line_items_customer_invoice_id_foreign` FOREIGN KEY (`customer_invoice_id`) REFERENCES `customer_invoices` (`id`) ON DELETE CASCADE,
  CONSTRAINT `customer_invoice_line_items_goods_receipt_item_id_foreign` FOREIGN KEY (`goods_receipt_item_id`) REFERENCES `goods_receipt_items` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `customer_invoice_line_items_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE SET NULL,
  CONSTRAINT `customer_invoice_line_items_supplier_invoice_item_id_foreign` FOREIGN KEY (`supplier_invoice_item_id`) REFERENCES `supplier_invoice_line_items` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_invoice_line_items`
--

LOCK TABLES `customer_invoice_line_items` WRITE;
/*!40000 ALTER TABLE `customer_invoice_line_items` DISABLE KEYS */;
INSERT INTO `customer_invoice_line_items` VALUES (1,1,1,NULL,43,'Sarung Tangan Latex (M)',NULL,'b-067','2026-04-30',1.000,75000.00,52500.00,NULL,NULL,0.00,0.00,11.00,8250.00,83250.00,'2026-04-22 21:36:45','2026-04-22 21:36:45'),(2,2,2,NULL,47,'Kateter Urine No. 16',NULL,'b-067','2026-04-30',1.000,20000.00,14000.00,NULL,NULL,0.00,0.00,11.00,2200.00,22200.00,'2026-04-22 23:02:07','2026-04-22 23:02:07'),(3,3,3,NULL,46,'Infus Set',NULL,'b-067','2026-05-01',1.000,15000.00,10500.00,NULL,NULL,0.00,0.00,11.00,1650.00,16650.00,'2026-04-23 10:58:03','2026-04-23 10:58:03');
/*!40000 ALTER TABLE `customer_invoice_line_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_invoices`
--

DROP TABLE IF EXISTS `customer_invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer_invoices` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `invoice_number` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `organization_id` bigint unsigned NOT NULL,
  `bank_account_id` bigint unsigned DEFAULT NULL,
  `purchase_order_id` bigint unsigned NOT NULL,
  `goods_receipt_id` bigint unsigned DEFAULT NULL,
  `supplier_invoice_id` bigint unsigned DEFAULT NULL,
  `total_amount` decimal(18,2) NOT NULL,
  `subtotal_amount` decimal(18,2) DEFAULT NULL,
  `discount_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `tax_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `surcharge` decimal(15,2) NOT NULL DEFAULT '0.00',
  `surcharge_percentage` decimal(5,2) NOT NULL DEFAULT '0.00',
  `ematerai_fee` decimal(15,2) NOT NULL DEFAULT '0.00',
  `payment_term` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `salesman` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tax_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `barcode_serial` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `print_count` int unsigned NOT NULL DEFAULT '0',
  `last_printed_at` timestamp NULL DEFAULT NULL,
  `paid_amount` decimal(18,2) NOT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'issued',
  `version` int unsigned NOT NULL DEFAULT '0',
  `discrepancy_detected` tinyint(1) NOT NULL DEFAULT '0',
  `expected_total` decimal(18,2) DEFAULT NULL,
  `variance_amount` decimal(18,2) DEFAULT NULL,
  `variance_percentage` decimal(5,2) DEFAULT NULL,
  `due_date` date DEFAULT NULL,
  `overdue_notified_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `issued_by` bigint unsigned DEFAULT NULL,
  `issued_at` timestamp NULL DEFAULT NULL,
  `payment_reference` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_submitted_at` timestamp NULL DEFAULT NULL,
  `verified_by` bigint unsigned DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `approved_by` bigint unsigned DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `approval_reason` text COLLATE utf8mb4_unicode_ci,
  `rejected_by` bigint unsigned DEFAULT NULL,
  `rejected_at` timestamp NULL DEFAULT NULL,
  `rejection_reason` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `customer_invoices_invoice_number_unique` (`invoice_number`),
  UNIQUE KEY `customer_invoices_barcode_serial_unique` (`barcode_serial`),
  KEY `customer_invoices_organization_id_foreign` (`organization_id`),
  KEY `customer_invoices_purchase_order_id_foreign` (`purchase_order_id`),
  KEY `customer_invoices_issued_by_foreign` (`issued_by`),
  KEY `customer_invoices_verified_by_foreign` (`verified_by`),
  KEY `customer_invoices_approved_by_foreign` (`approved_by`),
  KEY `customer_invoices_rejected_by_foreign` (`rejected_by`),
  KEY `customer_invoices_goods_receipt_id_foreign` (`goods_receipt_id`),
  KEY `customer_invoices_supplier_invoice_id_index` (`supplier_invoice_id`),
  KEY `customer_invoices_bank_account_id_foreign` (`bank_account_id`),
  CONSTRAINT `customer_invoices_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `customer_invoices_bank_account_id_foreign` FOREIGN KEY (`bank_account_id`) REFERENCES `bank_accounts` (`id`) ON DELETE SET NULL,
  CONSTRAINT `customer_invoices_goods_receipt_id_foreign` FOREIGN KEY (`goods_receipt_id`) REFERENCES `goods_receipts` (`id`) ON DELETE SET NULL,
  CONSTRAINT `customer_invoices_issued_by_foreign` FOREIGN KEY (`issued_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `customer_invoices_organization_id_foreign` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `customer_invoices_purchase_order_id_foreign` FOREIGN KEY (`purchase_order_id`) REFERENCES `purchase_orders` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `customer_invoices_rejected_by_foreign` FOREIGN KEY (`rejected_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `customer_invoices_supplier_invoice_id_foreign` FOREIGN KEY (`supplier_invoice_id`) REFERENCES `supplier_invoices` (`id`) ON DELETE SET NULL,
  CONSTRAINT `customer_invoices_verified_by_foreign` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_invoices`
--

LOCK TABLES `customer_invoices` WRITE;
/*!40000 ALTER TABLE `customer_invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_sequences`
--

DROP TABLE IF EXISTS `document_sequences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `document_sequences` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `doc_type` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'PO, GR, INV',
  `org_code` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Organization code',
  `year` smallint unsigned NOT NULL COMMENT 'YYYY',
  `month` tinyint unsigned NOT NULL COMMENT 'MM',
  `last_number` int unsigned NOT NULL DEFAULT '0' COMMENT 'Last sequence number',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `doc_seq_unique` (`doc_type`,`org_code`,`year`,`month`),
  KEY `document_sequences_doc_type_org_code_year_month_index` (`doc_type`,`org_code`,`year`,`month`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_sequences`
--

LOCK TABLES `document_sequences` WRITE;
/*!40000 ALTER TABLE `document_sequences` DISABLE KEYS */;
INSERT INTO `document_sequences` VALUES (1,'PO','TEST-ORG',2026,4,5,'2026-04-22 07:56:46','2026-04-23 06:30:27'),(2,'GR','TEST-ORG',2026,4,7,'2026-04-22 08:12:47','2026-04-23 17:56:22'),(4,'INV','TEST-ORG',2026,4,6,'2026-04-22 08:16:40','2026-04-23 17:58:03');
/*!40000 ALTER TABLE `document_sequences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `goods_receipt_deliveries`
--

DROP TABLE IF EXISTS `goods_receipt_deliveries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `goods_receipt_deliveries` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `goods_receipt_id` bigint unsigned NOT NULL,
  `delivery_number` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nomor surat jalan / DO dari supplier',
  `delivery_sequence` tinyint unsigned NOT NULL DEFAULT '1' COMMENT 'Urutan pengiriman ke-N',
  `received_date` date NOT NULL,
  `received_by` bigint unsigned NOT NULL,
  `photo_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Foto bukti penerimaan (wajib)',
  `photo_original_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `goods_receipt_deliveries_goods_receipt_id_foreign` (`goods_receipt_id`),
  KEY `goods_receipt_deliveries_received_by_foreign` (`received_by`),
  CONSTRAINT `goods_receipt_deliveries_goods_receipt_id_foreign` FOREIGN KEY (`goods_receipt_id`) REFERENCES `goods_receipts` (`id`) ON DELETE CASCADE,
  CONSTRAINT `goods_receipt_deliveries_received_by_foreign` FOREIGN KEY (`received_by`) REFERENCES `users` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `goods_receipt_deliveries`
--

LOCK TABLES `goods_receipt_deliveries` WRITE;
/*!40000 ALTER TABLE `goods_receipt_deliveries` DISABLE KEYS */;
INSERT INTO `goods_receipt_deliveries` VALUES (1,1,'4322',1,'2026-04-23',3,'gr-photos/1/uDmFebcBvhIax5kRcFgWyBWzx5aTF1roGwPBSSzt.jpg','1757565453869.jpg',NULL,'2026-04-22 21:35:27','2026-04-22 21:35:27'),(2,2,'4322',1,'2026-04-23',3,'gr-photos/2/mxa7zygrrSVP9zls6KE0fFqulIhBNifwKejuaZlA.jpg','1757732331370 (1).jpg',NULL,'2026-04-22 22:20:35','2026-04-22 22:20:35'),(3,3,'4322',1,'2026-04-23',2,'gr-photos/3/ggqrSB8nR7pscOzPsQ8uWaK99ibuCkHpAVRf5POd.jpg','1757732331370.jpg',NULL,'2026-04-23 10:56:22','2026-04-23 10:56:22');
/*!40000 ALTER TABLE `goods_receipt_deliveries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `goods_receipt_delivery_items`
--

DROP TABLE IF EXISTS `goods_receipt_delivery_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `goods_receipt_delivery_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `goods_receipt_delivery_id` bigint unsigned NOT NULL,
  `purchase_order_item_id` bigint unsigned NOT NULL,
  `quantity_received` int NOT NULL,
  `batch_no` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `condition` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Good',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `goods_receipt_delivery_items_goods_receipt_delivery_id_foreign` (`goods_receipt_delivery_id`),
  KEY `goods_receipt_delivery_items_purchase_order_item_id_foreign` (`purchase_order_item_id`),
  CONSTRAINT `goods_receipt_delivery_items_goods_receipt_delivery_id_foreign` FOREIGN KEY (`goods_receipt_delivery_id`) REFERENCES `goods_receipt_deliveries` (`id`) ON DELETE CASCADE,
  CONSTRAINT `goods_receipt_delivery_items_purchase_order_item_id_foreign` FOREIGN KEY (`purchase_order_item_id`) REFERENCES `purchase_order_items` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `goods_receipt_delivery_items`
--

LOCK TABLES `goods_receipt_delivery_items` WRITE;
/*!40000 ALTER TABLE `goods_receipt_delivery_items` DISABLE KEYS */;
INSERT INTO `goods_receipt_delivery_items` VALUES (1,1,1,1,'b-067','2026-04-30','Good',NULL,'2026-04-22 21:35:27','2026-04-22 21:35:27'),(2,2,2,1,'b-067','2026-04-30','Good',NULL,'2026-04-22 22:20:35','2026-04-22 22:20:35'),(3,3,3,1,'b-067','2026-05-01','Good',NULL,'2026-04-23 10:56:22','2026-04-23 10:56:22');
/*!40000 ALTER TABLE `goods_receipt_delivery_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `goods_receipt_items`
--

DROP TABLE IF EXISTS `goods_receipt_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `goods_receipt_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `goods_receipt_id` bigint unsigned NOT NULL,
  `purchase_order_item_id` bigint unsigned NOT NULL,
  `product_id` bigint unsigned DEFAULT NULL,
  `quantity_received` int NOT NULL,
  `batch_no` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `uom` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `condition` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Good',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `goods_receipt_items_goods_receipt_id_foreign` (`goods_receipt_id`),
  KEY `goods_receipt_items_purchase_order_item_id_foreign` (`purchase_order_item_id`),
  KEY `goods_receipt_items_batch_no_index` (`batch_no`),
  KEY `goods_receipt_items_product_id_index` (`product_id`),
  CONSTRAINT `goods_receipt_items_goods_receipt_id_foreign` FOREIGN KEY (`goods_receipt_id`) REFERENCES `goods_receipts` (`id`) ON DELETE CASCADE,
  CONSTRAINT `goods_receipt_items_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE SET NULL,
  CONSTRAINT `goods_receipt_items_purchase_order_item_id_foreign` FOREIGN KEY (`purchase_order_item_id`) REFERENCES `purchase_order_items` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `goods_receipt_items`
--

LOCK TABLES `goods_receipt_items` WRITE;
/*!40000 ALTER TABLE `goods_receipt_items` DISABLE KEYS */;
INSERT INTO `goods_receipt_items` VALUES (1,1,1,43,1,'b-067','2026-04-30',NULL,'Good',NULL,'2026-04-22 21:35:27','2026-04-22 21:35:27'),(2,2,2,47,1,'b-067','2026-04-30',NULL,'Good',NULL,'2026-04-22 22:20:35','2026-04-22 22:20:35'),(3,3,3,46,1,'b-067','2026-05-01',NULL,'Good',NULL,'2026-04-23 10:56:22','2026-04-23 10:56:22');
/*!40000 ALTER TABLE `goods_receipt_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `goods_receipts`
--

DROP TABLE IF EXISTS `goods_receipts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `goods_receipts` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `gr_number` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `do_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `delivered_at` timestamp NULL DEFAULT NULL,
  `organization_id` bigint unsigned DEFAULT NULL,
  `purchase_order_id` bigint unsigned DEFAULT NULL,
  `received_by` bigint unsigned NOT NULL,
  `received_date` date NOT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `confirmed_by` bigint unsigned DEFAULT NULL,
  `confirmed_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `goods_receipts_gr_number_unique` (`gr_number`),
  UNIQUE KEY `goods_receipts_do_number_unique` (`do_number`),
  UNIQUE KEY `gr_unique_per_po` (`purchase_order_id`),
  KEY `goods_receipts_received_by_foreign` (`received_by`),
  KEY `goods_receipts_confirmed_by_foreign` (`confirmed_by`),
  KEY `goods_receipts_organization_id_foreign` (`organization_id`),
  CONSTRAINT `goods_receipts_confirmed_by_foreign` FOREIGN KEY (`confirmed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `goods_receipts_organization_id_foreign` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `goods_receipts_purchase_order_id_foreign` FOREIGN KEY (`purchase_order_id`) REFERENCES `purchase_orders` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `goods_receipts_received_by_foreign` FOREIGN KEY (`received_by`) REFERENCES `users` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `goods_receipts`
--

LOCK TABLES `goods_receipts` WRITE;
/*!40000 ALTER TABLE `goods_receipts` DISABLE KEYS */;
INSERT INTO `goods_receipts` VALUES (1,'GR/TEST-ORG/2026/04/0003/005',NULL,NULL,9,1,3,'2026-04-23','completed',NULL,'2026-04-22 21:35:25','2026-04-22 21:35:27',NULL,3,'2026-04-22 21:35:25'),(2,'GR/TEST-ORG/2026/04/0004/006',NULL,NULL,9,2,3,'2026-04-23','completed',NULL,'2026-04-22 22:20:35','2026-04-22 22:20:35',NULL,3,'2026-04-22 22:20:35'),(3,'GR/TEST-ORG/2026/04/0005/007',NULL,NULL,9,3,2,'2026-04-23','completed',NULL,'2026-04-23 10:56:22','2026-04-23 10:56:22',NULL,2,'2026-04-23 10:56:22');
/*!40000 ALTER TABLE `goods_receipts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_items`
--

DROP TABLE IF EXISTS `inventory_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint unsigned NOT NULL,
  `product_id` bigint unsigned NOT NULL,
  `unit_id` bigint unsigned DEFAULT NULL,
  `batch_no` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiry_date` date DEFAULT NULL,
  `quantity_on_hand` int NOT NULL DEFAULT '0',
  `quantity_reserved` int NOT NULL DEFAULT '0',
  `unit_cost` decimal(15,2) NOT NULL,
  `location` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_inventory` (`organization_id`,`product_id`,`batch_no`),
  KEY `inventory_items_expiry_date_index` (`expiry_date`),
  KEY `inventory_items_product_id_index` (`product_id`),
  KEY `inventory_items_unit_id_index` (`unit_id`),
  CONSTRAINT `inventory_items_organization_id_foreign` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `inventory_items_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE,
  CONSTRAINT `inventory_items_unit_id_foreign` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_items`
--

LOCK TABLES `inventory_items` WRITE;
/*!40000 ALTER TABLE `inventory_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_movements`
--

DROP TABLE IF EXISTS `inventory_movements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_movements` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `inventory_item_id` bigint unsigned NOT NULL,
  `movement_type` enum('in','out','adjustment') COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantity` int NOT NULL,
  `reference_type` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reference_id` bigint unsigned DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_by` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `inventory_movements_inventory_item_id_foreign` (`inventory_item_id`),
  KEY `inventory_movements_created_by_foreign` (`created_by`),
  KEY `inventory_movements_reference_type_reference_id_index` (`reference_type`,`reference_id`),
  KEY `inventory_movements_created_at_index` (`created_at`),
  CONSTRAINT `inventory_movements_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `inventory_movements_inventory_item_id_foreign` FOREIGN KEY (`inventory_item_id`) REFERENCES `inventory_items` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_movements`
--

LOCK TABLES `inventory_movements` WRITE;
/*!40000 ALTER TABLE `inventory_movements` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoice_modification_attempts`
--

DROP TABLE IF EXISTS `invoice_modification_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoice_modification_attempts` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `invoice_type` enum('supplier','customer') COLLATE utf8mb4_unicode_ci NOT NULL,
  `invoice_id` bigint unsigned NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `attempted_at` timestamp NOT NULL,
  `attempted_changes` json NOT NULL,
  `rejection_reason` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `invoice_modification_attempts_invoice_type_invoice_id_index` (`invoice_type`,`invoice_id`),
  KEY `invoice_modification_attempts_user_id_index` (`user_id`),
  KEY `invoice_modification_attempts_attempted_at_index` (`attempted_at`),
  CONSTRAINT `invoice_modification_attempts_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoice_modification_attempts`
--

LOCK TABLES `invoice_modification_attempts` WRITE;
/*!40000 ALTER TABLE `invoice_modification_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoice_modification_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=88 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_has_permissions`
--

DROP TABLE IF EXISTS `model_has_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `model_has_permissions` (
  `permission_id` bigint unsigned NOT NULL,
  `model_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`model_id`,`model_type`),
  KEY `model_has_permissions_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_has_permissions`
--

LOCK TABLES `model_has_permissions` WRITE;
/*!40000 ALTER TABLE `model_has_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `model_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_has_roles`
--

DROP TABLE IF EXISTS `model_has_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `model_has_roles` (
  `role_id` bigint unsigned NOT NULL,
  `model_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`role_id`,`model_id`,`model_type`),
  KEY `model_has_roles_model_id_model_type_index` (`model_id`,`model_type`),
  CONSTRAINT `model_has_roles_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_has_roles`
--

LOCK TABLES `model_has_roles` WRITE;
/*!40000 ALTER TABLE `model_has_roles` DISABLE KEYS */;
INSERT INTO `model_has_roles` VALUES (5,'App\\Models\\User',1),(5,'App\\Models\\User',2),(1,'App\\Models\\User',3),(2,'App\\Models\\User',4),(4,'App\\Models\\User',5),(1,'App\\Models\\User',6);
/*!40000 ALTER TABLE `model_has_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` char(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notifiable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notifiable_id` bigint unsigned NOT NULL,
  `data` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_notifiable_type_notifiable_id_index` (`notifiable_type`,`notifiable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organizations`
--

DROP TABLE IF EXISTS `organizations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `organizations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `code` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Short organization code, e.g. RSU-001',
  `type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'clinic' COMMENT 'hospital, clinic, puskesmas',
  `address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `city` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Kota lokasi organisasi',
  `province` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Provinsi lokasi organisasi',
  `default_tax_rate` decimal(5,2) DEFAULT NULL,
  `default_discount_percentage` decimal(5,2) DEFAULT NULL,
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `npwp` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nik` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `customer_code` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bank_accounts` json DEFAULT NULL,
  `license_number` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Operating license',
  `is_authorized_narcotic` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Memiliki izin pengelolaan narkotika',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `organizations_code_unique` (`code`),
  UNIQUE KEY `organizations_customer_code_unique` (`customer_code`),
  KEY `organizations_code_index` (`code`),
  KEY `organizations_is_active_index` (`is_active`),
  KEY `organizations_city_index` (`city`),
  KEY `organizations_province_index` (`province`),
  KEY `organizations_is_authorized_narcotic_index` (`is_authorized_narcotic`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organizations`
--

LOCK TABLES `organizations` WRITE;
/*!40000 ALTER TABLE `organizations` DISABLE KEYS */;
/*!40000 ALTER TABLE `organizations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_allocations`
--

DROP TABLE IF EXISTS `payment_allocations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_allocations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `payment_id` bigint unsigned NOT NULL,
  `supplier_invoice_id` bigint unsigned DEFAULT NULL,
  `customer_invoice_id` bigint unsigned DEFAULT NULL,
  `allocated_amount` decimal(15,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `payment_allocations_payment_id_foreign` (`payment_id`),
  KEY `payment_allocations_supplier_invoice_id_foreign` (`supplier_invoice_id`),
  KEY `payment_allocations_customer_invoice_id_foreign` (`customer_invoice_id`),
  CONSTRAINT `payment_allocations_customer_invoice_id_foreign` FOREIGN KEY (`customer_invoice_id`) REFERENCES `customer_invoices` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payment_allocations_payment_id_foreign` FOREIGN KEY (`payment_id`) REFERENCES `payments` (`id`) ON DELETE CASCADE,
  CONSTRAINT `payment_allocations_supplier_invoice_id_foreign` FOREIGN KEY (`supplier_invoice_id`) REFERENCES `supplier_invoices` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_allocations`
--

LOCK TABLES `payment_allocations` WRITE;
/*!40000 ALTER TABLE `payment_allocations` DISABLE KEYS */;
INSERT INTO `payment_allocations` VALUES (1,1,NULL,1,166500.00,'2026-04-22 21:39:47','2026-04-22 21:39:47'),(2,2,1,NULL,52500.00,'2026-04-22 21:39:47','2026-04-22 21:39:47'),(3,3,NULL,2,22200.00,'2026-04-22 23:24:52','2026-04-22 23:24:52'),(4,4,2,NULL,14000.00,'2026-04-22 23:24:52','2026-04-22 23:24:52'),(5,5,NULL,3,16650.00,'2026-04-23 10:59:04','2026-04-23 10:59:04');
/*!40000 ALTER TABLE `payment_allocations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_documents`
--

DROP TABLE IF EXISTS `payment_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_documents` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `payment_proof_id` bigint unsigned NOT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `original_filename` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mime_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_size` bigint DEFAULT NULL,
  `uploaded_by` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `payment_documents_payment_proof_id_foreign` (`payment_proof_id`),
  KEY `payment_documents_uploaded_by_foreign` (`uploaded_by`),
  CONSTRAINT `payment_documents_payment_proof_id_foreign` FOREIGN KEY (`payment_proof_id`) REFERENCES `payment_proofs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `payment_documents_uploaded_by_foreign` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_documents`
--

LOCK TABLES `payment_documents` WRITE;
/*!40000 ALTER TABLE `payment_documents` DISABLE KEYS */;
INSERT INTO `payment_documents` VALUES (1,1,'payment_proofs/1/ed5e19f4-5e5b-4595-bcdc-ddb2e2ccd22d.jpg','1757732331370.jpg','image/jpeg',59453,3,'2026-04-22 21:37:58','2026-04-22 21:37:58'),(2,2,'payment_proofs/2/8c2e256f-c40f-4bff-af3c-99656b697318.jpg','1757732331370.jpg','image/jpeg',59453,3,'2026-04-22 23:13:37','2026-04-22 23:13:37');
/*!40000 ALTER TABLE `payment_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_proofs`
--

DROP TABLE IF EXISTS `payment_proofs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_proofs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `customer_invoice_id` bigint unsigned NOT NULL,
  `submitted_by` bigint unsigned NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `payment_type` enum('full','partial') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'full' COMMENT 'full = lunasi seluruh tagihan; partial = bayar sebagian',
  `payment_date` date NOT NULL,
  `bank_reference` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_method` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bank_account_id` bigint unsigned DEFAULT NULL,
  `sender_bank_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sender_account_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `giro_number` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `giro_due_date` date DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `status` enum('submitted','verified','approved','rejected','recalled','resubmitted') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'submitted',
  `verified_by` bigint unsigned DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `approved_by` bigint unsigned DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `rejection_reason` text COLLATE utf8mb4_unicode_ci,
  `recall_reason` text COLLATE utf8mb4_unicode_ci,
  `recalled_at` timestamp NULL DEFAULT NULL,
  `correction_of_id` bigint unsigned DEFAULT NULL,
  `resubmission_of_id` bigint unsigned DEFAULT NULL,
  `resubmission_notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `payment_proofs_customer_invoice_id_foreign` (`customer_invoice_id`),
  KEY `payment_proofs_submitted_by_foreign` (`submitted_by`),
  KEY `payment_proofs_verified_by_foreign` (`verified_by`),
  KEY `payment_proofs_approved_by_foreign` (`approved_by`),
  KEY `payment_proofs_correction_of_id_foreign` (`correction_of_id`),
  KEY `payment_proofs_bank_account_id_foreign` (`bank_account_id`),
  KEY `payment_proofs_resubmission_of_id_foreign` (`resubmission_of_id`),
  CONSTRAINT `payment_proofs_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`),
  CONSTRAINT `payment_proofs_bank_account_id_foreign` FOREIGN KEY (`bank_account_id`) REFERENCES `bank_accounts` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payment_proofs_correction_of_id_foreign` FOREIGN KEY (`correction_of_id`) REFERENCES `payment_proofs` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payment_proofs_customer_invoice_id_foreign` FOREIGN KEY (`customer_invoice_id`) REFERENCES `customer_invoices` (`id`) ON DELETE CASCADE,
  CONSTRAINT `payment_proofs_resubmission_of_id_foreign` FOREIGN KEY (`resubmission_of_id`) REFERENCES `payment_proofs` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payment_proofs_submitted_by_foreign` FOREIGN KEY (`submitted_by`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `payment_proofs_verified_by_foreign` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_proofs`
--

LOCK TABLES `payment_proofs` WRITE;
/*!40000 ALTER TABLE `payment_proofs` DISABLE KEYS */;
INSERT INTO `payment_proofs` VALUES (1,1,3,166500.00,'full','2026-04-23','12312312321','Bank Transfer',2,'Bank Bumi Arta','42321312',NULL,NULL,NULL,'approved',2,'2026-04-22 21:39:47',2,'2026-04-22 21:39:47',NULL,NULL,NULL,NULL,NULL,NULL,'2026-04-22 21:37:58','2026-04-22 21:39:47'),(2,2,3,22200.00,'full','2026-04-23',NULL,'Bank Transfer',2,'Bank BNI (Bank Negara Indonesia)','7878',NULL,NULL,NULL,'approved',2,'2026-04-22 23:24:52',2,'2026-04-22 23:24:52',NULL,NULL,NULL,NULL,NULL,NULL,'2026-04-22 23:13:33','2026-04-22 23:24:52');
/*!40000 ALTER TABLE `payment_proofs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `payment_number` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` enum('incoming','outgoing') COLLATE utf8mb4_unicode_ci NOT NULL,
  `organization_id` bigint unsigned DEFAULT NULL,
  `supplier_id` bigint unsigned DEFAULT NULL,
  `bank_account_id` bigint unsigned DEFAULT NULL,
  `bank_name_manual` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `amount` decimal(15,2) NOT NULL,
  `payment_date` date NOT NULL,
  `payment_method` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sender_bank_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sender_account_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `giro_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `giro_due_date` date DEFAULT NULL,
  `issuing_bank` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `receipt_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_proof_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `reference` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `surcharge_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `surcharge_percentage` decimal(5,2) NOT NULL DEFAULT '0.00',
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `payments_payment_number_unique` (`payment_number`),
  KEY `payments_organization_id_foreign` (`organization_id`),
  KEY `payments_supplier_id_foreign` (`supplier_id`),
  KEY `payments_bank_account_id_foreign` (`bank_account_id`),
  CONSTRAINT `payments_bank_account_id_foreign` FOREIGN KEY (`bank_account_id`) REFERENCES `bank_accounts` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payments_organization_id_foreign` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payments_supplier_id_foreign` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `guard_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `permissions_name_guard_name_unique` (`name`,`guard_name`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint unsigned NOT NULL,
  `name` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text COLLATE utf8mb4_unicode_ci,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`),
  KEY `personal_access_tokens_expires_at_index` (`expires_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `price_lists`
--

DROP TABLE IF EXISTS `price_lists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `price_lists` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint unsigned NOT NULL,
  `product_id` bigint unsigned NOT NULL,
  `selling_price` decimal(15,2) NOT NULL,
  `effective_date` date NOT NULL,
  `expiry_date` date DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `price_lists_organization_id_product_id_effective_date_unique` (`organization_id`,`product_id`,`effective_date`),
  KEY `price_lists_product_id_foreign` (`product_id`),
  KEY `price_lists_organization_id_product_id_is_active_index` (`organization_id`,`product_id`,`is_active`),
  KEY `price_lists_effective_date_index` (`effective_date`),
  CONSTRAINT `price_lists_organization_id_foreign` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `price_lists_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `price_lists`
--

LOCK TABLES `price_lists` WRITE;
/*!40000 ALTER TABLE `price_lists` DISABLE KEYS */;
/*!40000 ALTER TABLE `price_lists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_units`
--

DROP TABLE IF EXISTS `product_units`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_units` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `product_id` bigint unsigned NOT NULL,
  `unit_id` bigint unsigned NOT NULL,
  `conversion_to_base` decimal(10,4) NOT NULL DEFAULT '1.0000' COMMENT 'Conversion ratio ke base unit. Contoh: 1 Box = 50 Pcs ΓåÆ 50.0000',
  `is_base_unit` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Flag untuk base unit (hanya 1 per product)',
  `is_default_purchase` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Unit default untuk pembelian',
  `is_default_sales` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Unit default untuk penjualan',
  `barcode` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Barcode khusus untuk unit ini (optional)',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_product_unit` (`product_id`,`unit_id`),
  KEY `product_units_product_id_index` (`product_id`),
  KEY `product_units_unit_id_index` (`unit_id`),
  KEY `product_units_is_base_unit_index` (`is_base_unit`),
  KEY `product_units_is_default_purchase_index` (`is_default_purchase`),
  KEY `product_units_is_default_sales_index` (`is_default_sales`),
  CONSTRAINT `product_units_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE,
  CONSTRAINT `product_units_unit_id_foreign` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=180 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_units`
--

LOCK TABLES `product_units` WRITE;
/*!40000 ALTER TABLE `product_units` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `supplier_id` bigint unsigned NOT NULL,
  `manufacturer` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Nama produsen/manufacturer',
  `country_of_origin` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Negara asal produk',
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sku` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Stock Keeping Unit',
  `registration_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Nomor Izin Edar (NIE): AKL/AKD/AKP',
  `registration_date` date DEFAULT NULL COMMENT 'Tanggal izin edar diterbitkan',
  `registration_expiry` date DEFAULT NULL COMMENT 'Tanggal kadaluarsa izin edar',
  `category_regulatory` enum('OBAT','ALKES','PKRT','KOSMETIK','SUPLEMEN') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Regulatory classification: OBAT, ALKES, PKRT, KOSMETIK, SUPLEMEN',
  `category_class` enum('OBAT_KERAS','OBAT_BEBAS','OBAT_BEBAS_TERBATAS','NARKOTIKA','PSIKOTROPIKA','BIOLOGIS','KELAS_A','KELAS_B','KELAS_C','KELAS_D') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Class within regulatory category. NULL if not OBAT or ALKES',
  `category_operational` enum('CONSUMABLE','NON_CONSUMABLE','REAGENT','FARMASI') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Operational classification for inventory and procurement',
  `product_type` enum('ALKES','ALKES_DIV','PKRT') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Tipe produk: ALKES / ALKES_DIV / PKRT',
  `risk_class` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Risk class: A-D (ALKES) atau 1-3 (PKRT)',
  `intended_use` text COLLATE utf8mb4_unicode_ci COMMENT 'Tujuan penggunaan produk',
  `usage_method` enum('single_use','reusable','sterilizable') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Metode penggunaan',
  `target_user` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Target pengguna: healthcare_professional / consumer / both',
  `unit` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'e.g. pcs, box, vial',
  `base_unit_id` bigint unsigned DEFAULT NULL,
  `price` decimal(15,2) NOT NULL DEFAULT '0.00',
  `cost_price` decimal(15,2) NOT NULL DEFAULT '0.00' COMMENT 'Harga beli dari supplier',
  `selling_price` decimal(15,2) NOT NULL DEFAULT '0.00' COMMENT 'Harga jual ke customer',
  `discount_percentage` decimal(5,2) NOT NULL DEFAULT '0.00' COMMENT 'Persentase diskon (0-100)',
  `discount_amount` decimal(15,2) NOT NULL DEFAULT '0.00' COMMENT 'Nominal diskon dalam rupiah',
  `is_narcotic` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Triggers additional approval level',
  `is_sterile` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Apakah produk steril',
  `sterilization_method` enum('ETO','Steam','Radiation','Other','None') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Metode sterilisasi',
  `narcotic_group` enum('I','II','III') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Golongan narkotika: I, II, atau III',
  `requires_sp` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Memerlukan Surat Pesanan',
  `requires_prescription` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Memerlukan resep dokter',
  `description` text COLLATE utf8mb4_unicode_ci,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `min_stock_level` decimal(10,2) DEFAULT NULL COMMENT 'Minimum stock level (reorder point) dalam base unit',
  `max_stock_level` decimal(10,2) DEFAULT NULL COMMENT 'Maximum stock level dalam base unit',
  `reorder_quantity` decimal(10,2) DEFAULT NULL COMMENT 'Quantity untuk reorder dalam base unit',
  `storage_temperature` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Suhu penyimpanan: 2-8┬░C, 15-25┬░C, dll',
  `storage_condition` text COLLATE utf8mb4_unicode_ci COMMENT 'Kondisi penyimpanan: dry, cool, protected from light',
  `special_handling` text COLLATE utf8mb4_unicode_ci COMMENT 'Handling khusus: fragile, hazardous, dll',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `products_sku_unique` (`sku`),
  UNIQUE KEY `products_registration_number_unique` (`registration_number`),
  KEY `products_supplier_id_index` (`supplier_id`),
  KEY `products_is_narcotic_index` (`is_narcotic`),
  KEY `products_is_active_index` (`is_active`),
  KEY `products_cost_price_index` (`cost_price`),
  KEY `products_selling_price_index` (`selling_price`),
  KEY `products_narcotic_group_index` (`narcotic_group`),
  KEY `products_requires_sp_index` (`requires_sp`),
  KEY `products_requires_prescription_index` (`requires_prescription`),
  KEY `products_product_type_index` (`product_type`),
  KEY `products_risk_class_index` (`risk_class`),
  KEY `products_usage_method_index` (`usage_method`),
  KEY `products_target_user_index` (`target_user`),
  KEY `products_registration_number_index` (`registration_number`),
  KEY `products_registration_expiry_index` (`registration_expiry`),
  KEY `products_country_of_origin_index` (`country_of_origin`),
  KEY `products_is_sterile_index` (`is_sterile`),
  KEY `products_base_unit_id_index` (`base_unit_id`),
  KEY `products_min_stock_level_index` (`min_stock_level`),
  KEY `products_storage_temperature_index` (`storage_temperature`),
  KEY `products_category_regulatory_index` (`category_regulatory`),
  KEY `products_category_operational_index` (`category_operational`),
  CONSTRAINT `products_base_unit_id_foreign` FOREIGN KEY (`base_unit_id`) REFERENCES `units` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `products_supplier_id_foreign` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=127 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_order_items`
--

DROP TABLE IF EXISTS `purchase_order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_order_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `purchase_order_id` bigint unsigned NOT NULL,
  `product_id` bigint unsigned NOT NULL,
  `unit_id` bigint unsigned DEFAULT NULL,
  `quantity` int unsigned NOT NULL,
  `unit_price` decimal(15,2) NOT NULL COMMENT 'Snapshot of price at time of order',
  `subtotal` decimal(15,2) NOT NULL DEFAULT '0.00',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `purchase_order_items_purchase_order_id_index` (`purchase_order_id`),
  KEY `purchase_order_items_product_id_index` (`product_id`),
  KEY `purchase_order_items_unit_id_index` (`unit_id`),
  CONSTRAINT `purchase_order_items_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `purchase_order_items_purchase_order_id_foreign` FOREIGN KEY (`purchase_order_id`) REFERENCES `purchase_orders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `purchase_order_items_unit_id_foreign` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_order_items`
--

LOCK TABLES `purchase_order_items` WRITE;
/*!40000 ALTER TABLE `purchase_order_items` DISABLE KEYS */;
INSERT INTO `purchase_order_items` VALUES (1,1,43,NULL,1,52500.00,52500.00,NULL,'2026-04-22 21:33:32','2026-04-22 21:33:32'),(2,2,47,NULL,1,14000.00,14000.00,NULL,'2026-04-22 22:18:55','2026-04-22 22:18:55'),(3,3,46,NULL,1,10500.00,10500.00,NULL,'2026-04-22 23:30:27','2026-04-22 23:30:27');
/*!40000 ALTER TABLE `purchase_order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_orders`
--

DROP TABLE IF EXISTS `purchase_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_orders` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `po_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'System-generated PO number',
  `organization_id` bigint unsigned NOT NULL,
  `supplier_id` bigint unsigned NOT NULL,
  `created_by` bigint unsigned NOT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft',
  `has_narcotics` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'True if any item is narcotic',
  `requires_extra_approval` tinyint(1) NOT NULL DEFAULT '0',
  `total_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `requested_date` date DEFAULT NULL,
  `expected_delivery_date` date DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `submitted_at` timestamp NULL DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `sent_at` timestamp NULL DEFAULT NULL,
  `shipped_at` timestamp NULL DEFAULT NULL,
  `delivered_at` timestamp NULL DEFAULT NULL,
  `completed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `purchase_orders_po_number_unique` (`po_number`),
  KEY `purchase_orders_po_number_index` (`po_number`),
  KEY `purchase_orders_organization_id_index` (`organization_id`),
  KEY `purchase_orders_supplier_id_index` (`supplier_id`),
  KEY `purchase_orders_status_index` (`status`),
  KEY `purchase_orders_has_narcotics_index` (`has_narcotics`),
  KEY `purchase_orders_created_by_index` (`created_by`),
  CONSTRAINT `purchase_orders_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `purchase_orders_organization_id_foreign` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `purchase_orders_supplier_id_foreign` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_orders`
--

LOCK TABLES `purchase_orders` WRITE;
/*!40000 ALTER TABLE `purchase_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_has_permissions`
--

DROP TABLE IF EXISTS `role_has_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_has_permissions` (
  `permission_id` bigint unsigned NOT NULL,
  `role_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`permission_id`,`role_id`),
  KEY `role_has_permissions_role_id_foreign` (`role_id`),
  CONSTRAINT `role_has_permissions_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_has_permissions_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_has_permissions`
--

LOCK TABLES `role_has_permissions` WRITE;
/*!40000 ALTER TABLE `role_has_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `guard_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roles_name_guard_name_unique` (`name`,`guard_name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Healthcare User','web','2026-04-19 20:03:16','2026-04-19 20:03:16'),(2,'Approver','web','2026-04-19 20:03:16','2026-04-19 20:03:16'),(3,'Admin Pusat','web','2026-04-19 20:03:16','2026-04-19 20:03:16'),(4,'Finance','web','2026-04-19 20:03:16','2026-04-19 20:03:16'),(5,'Super Admin','web','2026-04-19 20:03:17','2026-04-19 20:03:17');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supplier_invoice_line_items`
--

DROP TABLE IF EXISTS `supplier_invoice_line_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supplier_invoice_line_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `supplier_invoice_id` bigint unsigned NOT NULL,
  `goods_receipt_item_id` bigint unsigned DEFAULT NULL,
  `product_id` bigint unsigned DEFAULT NULL,
  `batch_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `product_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_sku` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `batch_no` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `uom` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `quantity` decimal(10,3) NOT NULL,
  `unit_price` decimal(18,2) NOT NULL,
  `discount_percentage` decimal(5,2) DEFAULT NULL,
  `discount_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `tax_rate` decimal(5,2) NOT NULL DEFAULT '0.00',
  `tax_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `line_total` decimal(18,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `supplier_invoice_line_items_supplier_invoice_id_index` (`supplier_invoice_id`),
  KEY `supplier_invoice_line_items_product_id_index` (`product_id`),
  KEY `supplier_invoice_line_items_goods_receipt_item_id_index` (`goods_receipt_item_id`),
  CONSTRAINT `supplier_invoice_line_items_goods_receipt_item_id_foreign` FOREIGN KEY (`goods_receipt_item_id`) REFERENCES `goods_receipt_items` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `supplier_invoice_line_items_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE SET NULL,
  CONSTRAINT `supplier_invoice_line_items_supplier_invoice_id_foreign` FOREIGN KEY (`supplier_invoice_id`) REFERENCES `supplier_invoices` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supplier_invoice_line_items`
--

LOCK TABLES `supplier_invoice_line_items` WRITE;
/*!40000 ALTER TABLE `supplier_invoice_line_items` DISABLE KEYS */;
INSERT INTO `supplier_invoice_line_items` VALUES (1,1,1,43,NULL,'Sarung Tangan Latex (M)','MED-GLOVE-M-TSPC','b-067','2026-04-30',NULL,1.000,52500.00,0.00,0.00,0.00,0.00,52500.00,'2026-04-22 21:36:00','2026-04-22 21:36:00'),(2,2,2,47,NULL,'Kateter Urine No. 16','MED-CATH-16-TSPC','b-067','2026-04-30',NULL,1.000,14000.00,0.00,0.00,0.00,0.00,14000.00,'2026-04-22 23:00:34','2026-04-22 23:00:34'),(3,3,3,46,NULL,'Infus Set','MED-INF-SET-TSPC','b-067','2026-05-01',NULL,1.000,10500.00,0.00,0.00,0.00,0.00,10500.00,'2026-04-23 10:57:52','2026-04-23 10:57:52');
/*!40000 ALTER TABLE `supplier_invoice_line_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supplier_invoices`
--

DROP TABLE IF EXISTS `supplier_invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supplier_invoices` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `invoice_number` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `distributor_invoice_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `distributor_invoice_date` date DEFAULT NULL,
  `organization_id` bigint unsigned NOT NULL,
  `supplier_id` bigint unsigned NOT NULL,
  `purchase_order_id` bigint unsigned NOT NULL,
  `goods_receipt_id` bigint unsigned DEFAULT NULL,
  `total_amount` decimal(18,2) NOT NULL,
  `subtotal_amount` decimal(18,2) DEFAULT NULL,
  `discount_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `tax_amount` decimal(18,2) NOT NULL DEFAULT '0.00',
  `paid_amount` decimal(18,2) NOT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'issued',
  `version` int unsigned NOT NULL DEFAULT '0',
  `discrepancy_detected` tinyint(1) NOT NULL DEFAULT '0',
  `expected_total` decimal(18,2) DEFAULT NULL,
  `variance_amount` decimal(18,2) DEFAULT NULL,
  `variance_percentage` decimal(5,2) DEFAULT NULL,
  `due_date` date DEFAULT NULL,
  `overdue_notified_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `issued_by` bigint unsigned DEFAULT NULL,
  `issued_at` timestamp NULL DEFAULT NULL,
  `payment_reference` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payment_submitted_at` timestamp NULL DEFAULT NULL,
  `verified_by` bigint unsigned DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `approved_by` bigint unsigned DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `approval_reason` text COLLATE utf8mb4_unicode_ci,
  `rejected_by` bigint unsigned DEFAULT NULL,
  `rejected_at` timestamp NULL DEFAULT NULL,
  `rejection_reason` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `supplier_invoices_invoice_number_unique` (`invoice_number`),
  KEY `supplier_invoices_organization_id_foreign` (`organization_id`),
  KEY `supplier_invoices_supplier_id_foreign` (`supplier_id`),
  KEY `supplier_invoices_purchase_order_id_foreign` (`purchase_order_id`),
  KEY `supplier_invoices_issued_by_foreign` (`issued_by`),
  KEY `supplier_invoices_verified_by_foreign` (`verified_by`),
  KEY `supplier_invoices_approved_by_foreign` (`approved_by`),
  KEY `supplier_invoices_rejected_by_foreign` (`rejected_by`),
  KEY `supplier_invoices_distributor_invoice_number_index` (`distributor_invoice_number`),
  KEY `supplier_invoices_goods_receipt_id_foreign` (`goods_receipt_id`),
  CONSTRAINT `supplier_invoices_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `supplier_invoices_goods_receipt_id_foreign` FOREIGN KEY (`goods_receipt_id`) REFERENCES `goods_receipts` (`id`) ON DELETE SET NULL,
  CONSTRAINT `supplier_invoices_issued_by_foreign` FOREIGN KEY (`issued_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `supplier_invoices_organization_id_foreign` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `supplier_invoices_purchase_order_id_foreign` FOREIGN KEY (`purchase_order_id`) REFERENCES `purchase_orders` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `supplier_invoices_rejected_by_foreign` FOREIGN KEY (`rejected_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `supplier_invoices_supplier_id_foreign` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `supplier_invoices_verified_by_foreign` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supplier_invoices`
--

LOCK TABLES `supplier_invoices` WRITE;
/*!40000 ALTER TABLE `supplier_invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `supplier_invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `suppliers` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `code` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Supplier/distributor code',
  `address` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `npwp` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Tax ID',
  `license_number` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Distribution license',
  `license_expiry_date` date DEFAULT NULL COMMENT 'Tanggal kadaluarsa izin distribusi',
  `is_authorized_narcotic` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Memiliki izin distribusi narkotika',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `suppliers_code_unique` (`code`),
  KEY `suppliers_code_index` (`code`),
  KEY `suppliers_is_active_index` (`is_active`),
  KEY `suppliers_license_expiry_date_index` (`license_expiry_date`),
  KEY `suppliers_is_authorized_narcotic_index` (`is_authorized_narcotic`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliers`
--

LOCK TABLES `suppliers` WRITE;
/*!40000 ALTER TABLE `suppliers` DISABLE KEYS */;
/*!40000 ALTER TABLE `suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tax_configurations`
--

DROP TABLE IF EXISTS `tax_configurations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tax_configurations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `rate` decimal(15,2) NOT NULL,
  `is_default` tinyint(1) NOT NULL DEFAULT '0',
  `effective_date` date NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tax_configurations_is_default_effective_date_index` (`is_default`,`effective_date`),
  KEY `tax_configurations_name_index` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tax_configurations`
--

LOCK TABLES `tax_configurations` WRITE;
/*!40000 ALTER TABLE `tax_configurations` DISABLE KEYS */;
INSERT INTO `tax_configurations` VALUES (1,'PPN Standard',11.00,1,'2022-04-01','PPN 11% berlaku sejak 1 April 2022 berdasarkan UU HPP No. 7/2021','2026-04-19 20:03:20','2026-04-19 20:03:20'),(2,'PPN 12%',12.00,0,'2025-01-01','PPN 12% berlaku sejak 1 Januari 2025 berdasarkan UU HPP No. 7/2021','2026-04-19 20:03:20','2026-04-19 20:03:20'),(3,'EMeterai_Threshold',5000000.00,0,'2021-10-01','Threshold nilai dokumen yang wajib e-Meterai (Rp 5.000.000) berdasarkan PP 86/2021','2026-04-19 20:03:20','2026-04-19 20:03:20');
/*!40000 ALTER TABLE `tax_configurations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `units`
--

DROP TABLE IF EXISTS `units`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `units` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nama unit: Pcs, Box, Strip, dll',
  `symbol` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Simbol: pcs, box, strip',
  `type` enum('base','packaging','volume','weight','bundle') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Tipe unit untuk grouping',
  `description` text COLLATE utf8mb4_unicode_ci,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `units_name_unique` (`name`),
  KEY `units_type_index` (`type`),
  KEY `units_is_active_index` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `units`
--

LOCK TABLES `units` WRITE;
/*!40000 ALTER TABLE `units` DISABLE KEYS */;
/*!40000 ALTER TABLE `units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `organization_id` bigint unsigned DEFAULT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `is_pharmacist` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Apakah user adalah apoteker (untuk role healthcare)',
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_organization_id_index` (`organization_id`),
  KEY `users_is_pharmacist_index` (`is_pharmacist`),
  CONSTRAINT `users_organization_id_foreign` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-25  1:30:21
