-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: medikindo_po
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `approvals`
--

LOCK TABLES `approvals` WRITE;
/*!40000 ALTER TABLE `approvals` DISABLE KEYS */;
INSERT INTO `approvals` VALUES (1,1,2,1,'approved',NULL,'2026-04-22 21:34:17','2026-04-22 21:33:37','2026-04-22 21:34:17'),(2,2,2,1,'approved',NULL,'2026-04-22 22:19:50','2026-04-22 22:19:17','2026-04-22 22:19:50'),(3,3,2,1,'approved',NULL,'2026-04-23 10:55:34','2026-04-23 10:55:23','2026-04-23 10:55:34');
/*!40000 ALTER TABLE `approvals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `bank_accounts`
--

LOCK TABLES `bank_accounts` WRITE;
/*!40000 ALTER TABLE `bank_accounts` DISABLE KEYS */;
INSERT INTO `bank_accounts` VALUES (1,'Bank Mayapada','097','4534534534534','PT Medikindo Farma',1,0,'both',0,0,0,NULL,NULL,NULL,'2026-04-21 01:26:43','2026-04-21 01:26:43'),(2,'Bank BCA (Bank Central Asia)','014','231232131231232','PT. Mentari Medika Indonesia',1,1,'both',1,1,1,NULL,'2026-04-23 10:59:04',NULL,'2026-04-21 01:27:00','2026-04-23 10:59:04'),(3,'Bank BNI (Bank Negara Indonesia)','009','679769679','PT Medikindo Farma',1,0,'both',0,0,0,NULL,NULL,NULL,'2026-04-21 03:49:14','2026-04-21 03:49:57');
/*!40000 ALTER TABLE `bank_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `credit_limits`
--

LOCK TABLES `credit_limits` WRITE;
/*!40000 ALTER TABLE `credit_limits` DISABLE KEYS */;
/*!40000 ALTER TABLE `credit_limits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `credit_note_line_items`
--

LOCK TABLES `credit_note_line_items` WRITE;
/*!40000 ALTER TABLE `credit_note_line_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `credit_note_line_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `credit_notes`
--

LOCK TABLES `credit_notes` WRITE;
/*!40000 ALTER TABLE `credit_notes` DISABLE KEYS */;
/*!40000 ALTER TABLE `credit_notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `credit_usages`
--

LOCK TABLES `credit_usages` WRITE;
/*!40000 ALTER TABLE `credit_usages` DISABLE KEYS */;
INSERT INTO `credit_usages` VALUES (1,7,3,67900.00,'released','2026-04-20 11:07:08','2026-04-23 10:59:04'),(2,9,4,0.00,'released','2026-04-20 11:13:29','2026-04-20 12:35:14'),(3,9,5,0.00,'released','2026-04-20 11:55:39','2026-04-20 12:30:05'),(4,9,6,2100000.00,'billed','2026-04-20 12:27:36','2026-04-20 12:27:58'),(5,9,7,6289500.00,'billed','2026-04-20 12:58:28','2026-04-20 12:58:43'),(6,9,8,2107000.00,'billed','2026-04-20 13:02:00','2026-04-20 13:02:10'),(7,9,3,10500.00,'released','2026-04-23 10:55:23','2026-04-23 10:59:04');
/*!40000 ALTER TABLE `credit_usages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `customer_invoice_line_items`
--

LOCK TABLES `customer_invoice_line_items` WRITE;
/*!40000 ALTER TABLE `customer_invoice_line_items` DISABLE KEYS */;
INSERT INTO `customer_invoice_line_items` VALUES (1,1,1,NULL,43,'Sarung Tangan Latex (M)',NULL,'b-067','2026-04-30',1.000,75000.00,52500.00,NULL,NULL,0.00,0.00,11.00,8250.00,83250.00,'2026-04-22 21:36:45','2026-04-22 21:36:45'),(2,2,2,NULL,47,'Kateter Urine No. 16',NULL,'b-067','2026-04-30',1.000,20000.00,14000.00,NULL,NULL,0.00,0.00,11.00,2200.00,22200.00,'2026-04-22 23:02:07','2026-04-22 23:02:07'),(3,3,3,NULL,46,'Infus Set',NULL,'b-067','2026-05-01',1.000,15000.00,10500.00,NULL,NULL,0.00,0.00,11.00,1650.00,16650.00,'2026-04-23 10:58:03','2026-04-23 10:58:03');
/*!40000 ALTER TABLE `customer_invoice_line_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `customer_invoices`
--

LOCK TABLES `customer_invoices` WRITE;
/*!40000 ALTER TABLE `customer_invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `document_sequences`
--

LOCK TABLES `document_sequences` WRITE;
/*!40000 ALTER TABLE `document_sequences` DISABLE KEYS */;
INSERT INTO `document_sequences` VALUES (1,'PO','TEST-ORG',2026,4,5,'2026-04-22 07:56:46','2026-04-23 06:30:27'),(2,'GR','TEST-ORG',2026,4,7,'2026-04-22 08:12:47','2026-04-23 17:56:22'),(4,'INV','TEST-ORG',2026,4,6,'2026-04-22 08:16:40','2026-04-23 17:58:03');
/*!40000 ALTER TABLE `document_sequences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `goods_receipt_deliveries`
--

LOCK TABLES `goods_receipt_deliveries` WRITE;
/*!40000 ALTER TABLE `goods_receipt_deliveries` DISABLE KEYS */;
INSERT INTO `goods_receipt_deliveries` VALUES (1,1,'4322',1,'2026-04-23',3,'gr-photos/1/uDmFebcBvhIax5kRcFgWyBWzx5aTF1roGwPBSSzt.jpg','1757565453869.jpg',NULL,'2026-04-22 21:35:27','2026-04-22 21:35:27'),(2,2,'4322',1,'2026-04-23',3,'gr-photos/2/mxa7zygrrSVP9zls6KE0fFqulIhBNifwKejuaZlA.jpg','1757732331370 (1).jpg',NULL,'2026-04-22 22:20:35','2026-04-22 22:20:35'),(3,3,'4322',1,'2026-04-23',2,'gr-photos/3/ggqrSB8nR7pscOzPsQ8uWaK99ibuCkHpAVRf5POd.jpg','1757732331370.jpg',NULL,'2026-04-23 10:56:22','2026-04-23 10:56:22');
/*!40000 ALTER TABLE `goods_receipt_deliveries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `goods_receipt_delivery_items`
--

LOCK TABLES `goods_receipt_delivery_items` WRITE;
/*!40000 ALTER TABLE `goods_receipt_delivery_items` DISABLE KEYS */;
INSERT INTO `goods_receipt_delivery_items` VALUES (1,1,1,1,'b-067','2026-04-30','Good',NULL,'2026-04-22 21:35:27','2026-04-22 21:35:27'),(2,2,2,1,'b-067','2026-04-30','Good',NULL,'2026-04-22 22:20:35','2026-04-22 22:20:35'),(3,3,3,1,'b-067','2026-05-01','Good',NULL,'2026-04-23 10:56:22','2026-04-23 10:56:22');
/*!40000 ALTER TABLE `goods_receipt_delivery_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `goods_receipt_items`
--

LOCK TABLES `goods_receipt_items` WRITE;
/*!40000 ALTER TABLE `goods_receipt_items` DISABLE KEYS */;
INSERT INTO `goods_receipt_items` VALUES (1,1,1,43,1,'b-067','2026-04-30',NULL,'Good',NULL,'2026-04-22 21:35:27','2026-04-22 21:35:27'),(2,2,2,47,1,'b-067','2026-04-30',NULL,'Good',NULL,'2026-04-22 22:20:35','2026-04-22 22:20:35'),(3,3,3,46,1,'b-067','2026-05-01',NULL,'Good',NULL,'2026-04-23 10:56:22','2026-04-23 10:56:22');
/*!40000 ALTER TABLE `goods_receipt_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `goods_receipts`
--

LOCK TABLES `goods_receipts` WRITE;
/*!40000 ALTER TABLE `goods_receipts` DISABLE KEYS */;
INSERT INTO `goods_receipts` VALUES (1,'GR/TEST-ORG/2026/04/0003/005',NULL,NULL,9,1,3,'2026-04-23','completed',NULL,'2026-04-22 21:35:25','2026-04-22 21:35:27',NULL,3,'2026-04-22 21:35:25'),(2,'GR/TEST-ORG/2026/04/0004/006',NULL,NULL,9,2,3,'2026-04-23','completed',NULL,'2026-04-22 22:20:35','2026-04-22 22:20:35',NULL,3,'2026-04-22 22:20:35'),(3,'GR/TEST-ORG/2026/04/0005/007',NULL,NULL,9,3,2,'2026-04-23','completed',NULL,'2026-04-23 10:56:22','2026-04-23 10:56:22',NULL,2,'2026-04-23 10:56:22');
/*!40000 ALTER TABLE `goods_receipts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_items`
--

LOCK TABLES `inventory_items` WRITE;
/*!40000 ALTER TABLE `inventory_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_movements`
--

LOCK TABLES `inventory_movements` WRITE;
/*!40000 ALTER TABLE `inventory_movements` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `invoice_modification_attempts`
--

LOCK TABLES `invoice_modification_attempts` WRITE;
/*!40000 ALTER TABLE `invoice_modification_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoice_modification_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `model_has_permissions`
--

LOCK TABLES `model_has_permissions` WRITE;
/*!40000 ALTER TABLE `model_has_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `model_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `model_has_roles`
--

LOCK TABLES `model_has_roles` WRITE;
/*!40000 ALTER TABLE `model_has_roles` DISABLE KEYS */;
INSERT INTO `model_has_roles` VALUES (5,'App\\Models\\User',1),(5,'App\\Models\\User',2),(1,'App\\Models\\User',3),(2,'App\\Models\\User',4),(4,'App\\Models\\User',5),(1,'App\\Models\\User',6);
/*!40000 ALTER TABLE `model_has_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `organizations`
--

LOCK TABLES `organizations` WRITE;
/*!40000 ALTER TABLE `organizations` DISABLE KEYS */;
/*!40000 ALTER TABLE `organizations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `payment_allocations`
--

LOCK TABLES `payment_allocations` WRITE;
/*!40000 ALTER TABLE `payment_allocations` DISABLE KEYS */;
INSERT INTO `payment_allocations` VALUES (1,1,NULL,1,166500.00,'2026-04-22 21:39:47','2026-04-22 21:39:47'),(2,2,1,NULL,52500.00,'2026-04-22 21:39:47','2026-04-22 21:39:47'),(3,3,NULL,2,22200.00,'2026-04-22 23:24:52','2026-04-22 23:24:52'),(4,4,2,NULL,14000.00,'2026-04-22 23:24:52','2026-04-22 23:24:52'),(5,5,NULL,3,16650.00,'2026-04-23 10:59:04','2026-04-23 10:59:04');
/*!40000 ALTER TABLE `payment_allocations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `payment_documents`
--

LOCK TABLES `payment_documents` WRITE;
/*!40000 ALTER TABLE `payment_documents` DISABLE KEYS */;
INSERT INTO `payment_documents` VALUES (1,1,'payment_proofs/1/ed5e19f4-5e5b-4595-bcdc-ddb2e2ccd22d.jpg','1757732331370.jpg','image/jpeg',59453,3,'2026-04-22 21:37:58','2026-04-22 21:37:58'),(2,2,'payment_proofs/2/8c2e256f-c40f-4bff-af3c-99656b697318.jpg','1757732331370.jpg','image/jpeg',59453,3,'2026-04-22 23:13:37','2026-04-22 23:13:37');
/*!40000 ALTER TABLE `payment_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `payment_proofs`
--

LOCK TABLES `payment_proofs` WRITE;
/*!40000 ALTER TABLE `payment_proofs` DISABLE KEYS */;
INSERT INTO `payment_proofs` VALUES (1,1,3,166500.00,'full','2026-04-23','12312312321','Bank Transfer',2,'Bank Bumi Arta','42321312',NULL,NULL,NULL,'approved',2,'2026-04-22 21:39:47',2,'2026-04-22 21:39:47',NULL,NULL,NULL,NULL,NULL,NULL,'2026-04-22 21:37:58','2026-04-22 21:39:47'),(2,2,3,22200.00,'full','2026-04-23',NULL,'Bank Transfer',2,'Bank BNI (Bank Negara Indonesia)','7878',NULL,NULL,NULL,'approved',2,'2026-04-22 23:24:52',2,'2026-04-22 23:24:52',NULL,NULL,NULL,NULL,NULL,NULL,'2026-04-22 23:13:33','2026-04-22 23:24:52');
/*!40000 ALTER TABLE `payment_proofs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `price_lists`
--

LOCK TABLES `price_lists` WRITE;
/*!40000 ALTER TABLE `price_lists` DISABLE KEYS */;
/*!40000 ALTER TABLE `price_lists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `product_units`
--

LOCK TABLES `product_units` WRITE;
/*!40000 ALTER TABLE `product_units` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `purchase_order_items`
--

LOCK TABLES `purchase_order_items` WRITE;
/*!40000 ALTER TABLE `purchase_order_items` DISABLE KEYS */;
INSERT INTO `purchase_order_items` VALUES (1,1,43,NULL,1,52500.00,52500.00,NULL,'2026-04-22 21:33:32','2026-04-22 21:33:32'),(2,2,47,NULL,1,14000.00,14000.00,NULL,'2026-04-22 22:18:55','2026-04-22 22:18:55'),(3,3,46,NULL,1,10500.00,10500.00,NULL,'2026-04-22 23:30:27','2026-04-22 23:30:27');
/*!40000 ALTER TABLE `purchase_order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `purchase_orders`
--

LOCK TABLES `purchase_orders` WRITE;
/*!40000 ALTER TABLE `purchase_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `role_has_permissions`
--

LOCK TABLES `role_has_permissions` WRITE;
/*!40000 ALTER TABLE `role_has_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_has_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Healthcare User','web','2026-04-19 20:03:16','2026-04-19 20:03:16'),(2,'Approver','web','2026-04-19 20:03:16','2026-04-19 20:03:16'),(3,'Admin Pusat','web','2026-04-19 20:03:16','2026-04-19 20:03:16'),(4,'Finance','web','2026-04-19 20:03:16','2026-04-19 20:03:16'),(5,'Super Admin','web','2026-04-19 20:03:17','2026-04-19 20:03:17');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `supplier_invoice_line_items`
--

LOCK TABLES `supplier_invoice_line_items` WRITE;
/*!40000 ALTER TABLE `supplier_invoice_line_items` DISABLE KEYS */;
INSERT INTO `supplier_invoice_line_items` VALUES (1,1,1,43,NULL,'Sarung Tangan Latex (M)','MED-GLOVE-M-TSPC','b-067','2026-04-30',NULL,1.000,52500.00,0.00,0.00,0.00,0.00,52500.00,'2026-04-22 21:36:00','2026-04-22 21:36:00'),(2,2,2,47,NULL,'Kateter Urine No. 16','MED-CATH-16-TSPC','b-067','2026-04-30',NULL,1.000,14000.00,0.00,0.00,0.00,0.00,14000.00,'2026-04-22 23:00:34','2026-04-22 23:00:34'),(3,3,3,46,NULL,'Infus Set','MED-INF-SET-TSPC','b-067','2026-05-01',NULL,1.000,10500.00,0.00,0.00,0.00,0.00,10500.00,'2026-04-23 10:57:52','2026-04-23 10:57:52');
/*!40000 ALTER TABLE `supplier_invoice_line_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `supplier_invoices`
--

LOCK TABLES `supplier_invoices` WRITE;
/*!40000 ALTER TABLE `supplier_invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `supplier_invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `suppliers`
--

LOCK TABLES `suppliers` WRITE;
/*!40000 ALTER TABLE `suppliers` DISABLE KEYS */;
/*!40000 ALTER TABLE `suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tax_configurations`
--

LOCK TABLES `tax_configurations` WRITE;
/*!40000 ALTER TABLE `tax_configurations` DISABLE KEYS */;
INSERT INTO `tax_configurations` VALUES (1,'PPN Standard',11.00,1,'2022-04-01','PPN 11% berlaku sejak 1 April 2022 berdasarkan UU HPP No. 7/2021','2026-04-19 20:03:20','2026-04-19 20:03:20'),(2,'PPN 12%',12.00,0,'2025-01-01','PPN 12% berlaku sejak 1 Januari 2025 berdasarkan UU HPP No. 7/2021','2026-04-19 20:03:20','2026-04-19 20:03:20'),(3,'EMeterai_Threshold',5000000.00,0,'2021-10-01','Threshold nilai dokumen yang wajib e-Meterai (Rp 5.000.000) berdasarkan PP 86/2021','2026-04-19 20:03:20','2026-04-19 20:03:20');
/*!40000 ALTER TABLE `tax_configurations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `units`
--

LOCK TABLES `units` WRITE;
/*!40000 ALTER TABLE `units` DISABLE KEYS */;
/*!40000 ALTER TABLE `units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-25  1:30:41
